<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" name="username" placeholder="Username" {% if show_otp_field %} disabled {% endif %} value="{{ username }}"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" placeholder="Password" {% if show_otp_field %} disabled {% endif %} value="{{ password }}"><br>
        {% if show_otp_field %}
            <label for="otp">OTP:</label><br>
            <input type="text" id="otp" name="otp"><br>
        {% endif %}
        <button type="submit">Login</button>
    </form>
</body>
</html>