<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sent Requests</title>
    <link rel="stylesheet" href="{% static 'css/sentRequests-bank.css'}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="sentRequests-bank.html">Sent Requests</a></li>
            <li><a href="dash-bank.html">Search Donors</a></li>
            <li><a href="resources-bank.html">Resources</a></li>
            <li><a href="profile-bank.html">Profile</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Sent Requests</h2>
        <div id="requests-list">
            <!-- Requests will be dynamically added here -->
        </div>
    </div>
    <script src="/bloodBridge/jsFiles/sentRequests-bank.js"></script>
</body>
</html>
